<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged()" pager="true" [options]="slideOpts">
    <ion-slide class="slideItem">
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide class="slideItem">
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide class="slideItem">
      <h1>Slide 3</h1>
    </ion-slide>
    <ion-slide class="slideItem">
      <h1>Slide 4</h1>
    </ion-slide>
    <ion-slide class="slideItem">
      <h1>Slide 5</h1>
    </ion-slide>
  </ion-slides>
</ion-content>