.slideContainer{
    height: 100%;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    background-color: rgba(218, 218, 218, .6);
    overflow: hidden;
}
.slideItem{
    width: 80%;
    border-radius: 10px;
}

.slideItem{
    background-color: #fff;
    &:nth-child(2n){
        background-color: darkorange;
    }
    &:nth-child(3n){
        background-color: rgb(80, 170, 255);
    }
}