<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      @ionicframework
    </ion-item>
    <ion-item>
      <ion-icon name="ionic-phone" slot="start"></ion-icon>
      wangxing
    </ion-item>
    <ion-item>
      <ion-icon name="ionic-phone" slot="start"></ion-icon>
      男
    </ion-item>
    <ion-item>
      <ion-icon name="ionic-phone" slot="start"></ion-icon>
      18519372603
    </ion-item>
    <ion-item>
      <ion-icon name="ionic-phone" slot="start"></ion-icon>
      北京市海淀区永泰自在香山155-1
    </ion-item>
  </ion-list>
</ion-content>